#navbar-container {
    margin-bottom: 1px;
    /*    background: #663333; !*For browsers that do not support gradients *!
    background: -webkit-linear-gradient(#cc0000, #dd0000); !* For Safari 5.1 to 6.0 *!
    background: -o-linear-gradient(#a69698, #43322cc); !* For Opera 11.1 to 12.0 *!
    background: -moz-linear-gradient(#a69698, #43322c); !* For Firefox 3.6 to 15 *!
    background: linear-gradient(#CC3300, #663333); !* Standard syntax *!*/
    z-index: 10;
}

.navbar-brand, .navbar-nav>li>a {
/*    padding: 25px 30px 25px 30px;
    color: #fff3e6 !important;*/
}

.navbar-brand:hover, .navbar-nav>li>a:hover {
/*    color: #ffcc99 !important;*/
}

.navbar-brand, .navbar-nav>.active>a {

}

.navbar-brand {
    font-size: 18px;
}
.navbar-nav>li>a {
    font-size: 16px;
}


#login-container, #register-container {
    height: 100%;
    width: 100%
}

.loginBox {
    max-width:  90%;
    width: 500px
}

.stretch input  {
    width: 100%
}

md-input-container {
    margin: 5px 0;
}

.button {
    background-color: #43322c;
    color: #fff;
}
.button:hover {

}


.button-link {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.input-help {
    color:red;
}

input[type='file'] {
    color: transparent;
}

.ngdialog-buttons {
    text-align: center;
}

.disabled {
    opacity: 0.4;
}

.not-clickable {
    pointer-events: none;
}

.button-tooltip {
    color:#fff;
    background-color: #000;
    opacity: 0.9;
    font-size: 12px;
}

.cg-busy {
    z-index: 10;
}

.back-icon {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(1800deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.label-with-hint {
    line-height: 24px;
}

.label-with-hint-normal {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.label-with-hint-normal > md-icon, .label-with-hint-normal > md-icon > svg {
    height: 18px;
    width: 18px;
}


.label-with-hint-small > span {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.label-with-hint-small > md-icon, .label-with-hint-small > md-icon > svg {
    height: 18px;
    width: 18px;
}

.description-label {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.md-tooltip {
    font-size: 14px;
    height: auto;
}

.introjs-helperLayer  {
    z-index: 58 !important;
}

.introjs-overlay {
    z-index: 57 !important;
}

.introjs-tooltipReferenceLayer {
    z-index: 60 !important;
}

.introjs-showElement, tr.introjs-showElement>td, tr.introjs-showElement>th {
    z-index: 59 !important;
}