#collection-container {
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 10px;
    height: calc(100vh - 74px);
}

.collection-card-preview-container {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.collection-card-preview-container:focus {
    outline: 0;
}

.collection-card {
    zoom: 0.7;
    -moz-transform: scale(0.7);
}

.collection-card-disabled {
    opacity: 0.7;
    pointer-events: none;
}

.collection-card-movable {
    cursor: move;
}

.collection-card-preview {
    zoom: 1.2;
    -moz-transform: scale(1.2);
}

.card-preview-dialog {
    background: transparent;
    box-shadow: none;
    overflow: hidden;
}

.collection-filter-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eeeeee;
}

.collection-filter-star {
    height: 30px;
}

.collection-filter-star-label {
    position: absolute;
    top: 6px;
    width: 100%;
}

.collection-filter-star-container {
    display: inline-block;
    height:30px;
    margin-bottom: auto;
    margin-top: auto;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

.collection-filter-clear {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.collection-filter-content {
    margin-right: 20px;
    width: 250px;
}

.collection-filter-content > .md-errors-spacer {
    display: none;
}

.collection-card-add {
    position: relative;
    opacity: 0.5;
    vertical-align: top;
    display: inline-block;
}

.card-add-icon {
    top: 75px;
    position: absolute;
    width: 100%;
    margin-left: -5px;
}

.card-add-icon > img {
    width: 50px;
}

.collection-cards-preview {
    border-radius: 10px;
    padding: 10px;
    background-color: #eeeeee;
    height: 100%;
    overflow: auto;
    justify-content: space-around;
}

.collection-decks-container {
    border-radius: 10px;
    background-color: #eeeeee;
    margin-left: 20px;
    padding: 5px;
    height: 100%;
}

.collection-deck-container {
    height: 100%;
}

.collection-deck-button-container {
    position: relative;
}

.collection-deck-button {
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.collection-deck-button > .md-button {
    margin: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.collection-deck-buttons > .md-button  {
    margin: 0;
    height: 50px;
    border-radius: 5px;
}

.collection-deck-remove {
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
}

.collection-deck-remove:focus {
    outline: 0;
}

.collection-card-lock-container {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position:absolute;
}

.collection-card-lock-backdrop {
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.collection-card-lock {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.collection-card-placeholder {
    zoom: 0.7;
    border: 5px solid transparent;
    width:236px;
}

.collection-card-placeholder-image {
    width: 100%;
}