.deck-container {
    height: 100%;
}

.deck-header {
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: rgb(250,250,250);
    padding: 15px;
}

.deck-name {
    text-align: center;
}

.deck-cards-container {
    height: 100%;
    overflow: auto;
}

.deck-card {
    position: relative;
    margin-bottom:5px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.deck-card:focus {
    outline: 0;
}

.deck-card-text {
    position: absolute;
    color: #000 ;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    user-select: none;
    padding-left: 75px;
}

.deck-card-text-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deck-card-amount {
    float: right;
    padding-right: 5px;
}

.deck-card-list {
    height: 100%;
    overflow: auto;
}

.deck-card-background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 70px auto;
}

.deck-card-count {
    position: relative;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}
.deck-card-count-warning {
    background-color: #fff609;
}

.deck-card-count-error {
    background-color: #ff0000;
}


