.deck-container {
    height: 100%;
}

.deck-header {
    height: 60px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    background-color: rgb(250,250,250);
}

.deck-name {
    text-align: center;
}

.deck-card {
    position: relative;
    margin-bottom:5px;
    height: 40px;
    cursor: move;
}

.deck-card-text {
    position: absolute;
    text-align: center;
    color: #000 ;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    user-select: none;
}

.deck-card-list {
    height: 100%;
    overflow: auto;
}

.deck-card-background {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}


