#content {
    margin:50px;
}

#mapView {
    width: 100%;
    height: 100%;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.markerSelectorBox {
    float: left;
}

.markerSelector{
    display: block;
    margin-bottom: 10px;
}

#toolBar {
    clear: left;
    margin-top: 20px;
}


/*#startMarkerSelector {
    position:absolute;
    z-index:1000;
    top:60px;
    left:13px;
    display: inline;
}

#endMarkerSelector {
    position:absolute;
    z-index:1000;
    top:100px;
    left:13px;
}*/
