#content {
}

#mapView {
    width: 100%;
    height: 100%;
    float: left;
}


#toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 500px;
    background-color: cornflowerblue;
}

.md-toolbar {

}

.ol-zoom {
    top: initial;
    left: initial;
    right: .5em;
    bottom: 2.5em;
}

/*****************MARKER*****************/
#markerSelectorBox {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.marker {

}

.markerSelector{
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 20px;
    height: 30px;
}

.markerLabel {
    line-height: 30px;
}

/*****************POPUP*****************/

#popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

#popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

#popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

#popup:after, #popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#popupCloser {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

#popupCloser:after {
    content: "✖";
}

#popupContent {

}