.card-reward-instruction {
    margin-bottom: 20px;
}

.reward-card-container {
    position:relative;
    display: inline-block;
    margin: 0 10px;
    width: 165px;
    vertical-align:top;
}

.reward-deselect-button {
    position: absolute;
    top: -20px;
    right: -25px;
}