#task-container {
    width: 100%;
}

#task-name {
    width: 400px;
}

.error {
    color: red;
}

.task-info-input {
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    background: 0 0;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.task-info-title {
    font-size: 18px;
}

.task-info-description {
    font-size: 14px;
}

.task-type {
    text-align: center;
}

.task-content {
}

.choose-marker-container {
    text-align: center;
}

.task-type-selection {
    text-align: center;
}

.choose-marker-close {
    position: absolute;
    top: 0px;
    right: 0px;
}

.choose-marker-btn {
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
}

.tasl-type-icon {
    height: 50px;
}

.task-type-label {

    font-size: 20px;
}

.task-modal-label {
    font-size: 16px;
    color: #3288e6;
}

.task-image {
    width: 50%;
}

.active-marker {
    background-color: #bbbbbb;
}

.task-deck-button {
    margin-bottom: 20px;
}

/*****************MARKER*****************/
#markerSelectorBox {
    position: absolute;
    right: 20px;
    top: 90px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.marker {

}

.markerSelector {
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 20px;
    height: 30px;
}

.markerLabel {
    line-height: 30px;
}

#task-editor-quiz > .ta-toolbar {
    max-width: 800px;
}

#task-editor-quiz > .ta-toolbar > .btn-group {
    margin-bottom: 10px;
}

fieldset.radio-group, fieldset.checkbox-group {
    margin-bottom: 3px;
}

fieldset p {
    text-indent: 20px;
}

.quiz-group-container {
    padding: 3px;
    margin-bottom: 5px;
    border: solid 1px #aaa;
    border-radius: 10px;
}

.quiz-group-container > p {
    font-weight: bold;
}

.quiz-group-container .quiz-group-option {
    text-indent: 10px;
}

.quiz-group-container .quiz-group-option > label {
    font-weight: normal;
}

.quiz-group-dialog-content {
    min-width: 400px;
}

.quiz-group-option {
    width: 100%;
}

.quiz-group-option-input-container {
    width: 100%;
}

.quiz-group-option-input-container > .md-errors-spacer {
    display: none;
}

.quiz-group-option-selector {
    margin-bottom: 0;
}

.quiz-group-add {
    padding: 0;
    margin: 0;
}

.quiz-input {
    margin: 0 2px;
}

.footer-btn {
    display: none;
}

