<!-- Based on "https://codepen.io/ThomasBurleson/pen/wBgVpa" -->

<div id="register-container" layout="row" layout-align="center center" layout-fill="layout-fill">
    <div class="loginBox md-whiteframe-z1" layout="column">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>{{'TITLE_REGISTER' | translate}}</span></h2>
        </md-toolbar>
        <form name="form" ng-submit="register.register()">
            <md-content class="md-padding" layout="column">
                <md-input-container>
                    <label>{{'LABEL_FORENAME' | translate}}</label>
                    <input ng-model="register.forename"/>
                </md-input-container>
                <md-input-container>
                    <label>{{'LABEL_SURNAME' | translate}}</label>
                    <input ng-model="register.surename"/>
                </md-input-container>
                <md-input-container>
                    <label>{{'LABEL_USERNAME' | translate}}</label>
                    <input required ng-model="register.username"/>
                </md-input-container>
                <md-input-container>
                    <label>{{'LABEL_PASSWORD' | translate}}</label>
                    <input required type="password" ng-model="register.password"/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px">
                    <md-button href="#/login" md-no-ink="md-no-ink">{{'BUTTON_CANCEL' | translate}}</md-button>
                    <md-button class="md-raised md-primary" type="submit">{{'BUTTON_REGISTER' | translate}}</md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>