<md-dialog aria-label="Create task">
    <form name="rewardForm" ng-cloak ng-submit="rewardDialog.confirm()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Reward</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="rewardDialog.cancel()">
                    <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="card-reward-instruction"><md-label><b>Add up to {{reward.maxCards}} cards as quest reward</b></md-label></div>

                <reward reward-ids="rewardDialog.rewardIds" max-cards="rewardDialog.maxCards" user="rewardDialog.user"></reward>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary">
                OK
            </md-button>
            <md-button class="md-raised" ng-click="rewardDialog.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
