<md-dialog aria-label="Create task" ng-intro-options="cardeditor.introOptions" ng-intro-method="cardeditor.startIntro"
           ng-intro-autostart="cardeditor.tutorialAutoStart">
    <form name="cardEditor" ng-cloak ng-submit="cardeditor.confirm()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    {{'TITLE_CREATE_CARD' | translate}}
                    <md-button ng-click="cardeditor.showTutorial()" class="md-icon-button" aria-label="Complex">
                        <md-icon md-svg-icon="media/tutorial_icon.svg"></md-icon>
                        <md-tooltip md-direction="top">{{'LABEL_SHOW_TUTORIAL' | translate}}</md-tooltip>
                    </md-button>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cardeditor.cancel()">
                    <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div class="md-dialog-content cardeditor-content">
                <div layout="column" layout-gt-sm="row">
                    <div class="cardeditor-card-container">
                        <card card="cardeditor.card" edit="true" menu="false"></card>
                        <div class="cardeditor-card-image-button" ng-if="!cardeditor.image.base64" id="card-image">
                            <label for="card-image-input" required class="md-button md-raised"
                                   required="cardeditor.image.base64">
                                {{'BUTTON_CHOOSE_CARD_IMAGE' | translate}}
                            </label>
                            <div class="cardeditor-stars-error" ng-if="cardeditor.showImageRequiredError">
                                {{'ERROR_IMAGE_REQUIRED' | translate}}
                            </div>
                        </div>
                    </div>

                    <md-input-container>
                        <input name="image" type="file" id="card-image-input"
                               ng-model='cardeditor.image'
                               class="ng-hide"
                               on-after-validate="cardeditor.cardImageChanged" base-sixty-four-input/>
                    </md-input-container>
                    <div>
                        <md-content class="card-settings-content">

                            <div id="card-name">
                                <md-input-container>
                                    <label>{{'LABEL_EDITOR_NAME' | translate}}</label>
                                    <input type="text" name="name" required md-no-asterisk maxlength="25"
                                           ng-model="cardeditor.card.name" md-autofocus/>
                                    <div ng-messages="cardEditor.name.$error">
                                        <div ng-message="required">{{'MESSAGE_REQUIRED' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>


                            <md-input-container id="card-description" style="width: 100%">
                                <label>{{'LABEL_EDITOR_DESCRIPTION' | translate}}</label>
                                <textarea class="textarea-noresize" maxlength="150"
                                          ng-model="cardeditor.card.description"
                                          ng-change="cardeditor.calculateStarCount()"></textarea>
                            </md-input-container>

                            <div id="card-attack">
                                <div class="label-with-hint-small">
                                    <span>{{'LABEL_EDITOR_ATTACK' | translate}} (1/2 {{'TEXT_STARS_PER_POINT' | translate}})</span>
                                    <md-tooltip md-direction="top">
                                        {{'TOOLTIP_EDITOR_ATTACK' | translate}}
                                    </md-tooltip>
                                    <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                                </div>
                                <md-slider-container>
                                    <md-slider class="md-primary" name="attack" md-discrete
                                               ng-model="cardeditor.card.attack"
                                               min="0"
                                               max="10"
                                               step="1" aria-label="attack-slider"
                                               ng-change="cardeditor.calculateStarCount()"></md-slider>
                                    <md-input-container class="slider-input">
                                        <!-- <label>Attack</label>-->
                                        <input type="number" min="0" max="10" name="attack" id="card-attack-input"
                                               ng-model="cardeditor.card.attack"
                                               ng-change="cardeditor.calculateStarCount()" aria-label="attack-input"/>
                                    </md-input-container>
                                </md-slider-container>
                            </div>

                            <div id="card-lifeforce">
                                <div class="label-with-hint-small">
                                    <span>{{'LABEL_EDITOR_LIFEFORCE' | translate}} (1/2 {{'TEXT_STARS_PER_POINT' | translate}})</span>
                                    <md-tooltip md-direction="top">
                                        {{'TOOLTIP_EDITOR_LIFEFORCE_1' | translate}}<br>
                                        {{'TOOLTIP_EDITOR_LIFEFORCE_2' | translate}}
                                    </md-tooltip>
                                    <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                                </div>
                                <md-slider-container>
                                    <md-slider class="md-primary" aria-label="life-slider" md-discrete
                                               ng-model="cardeditor.card.life"
                                               min="1" max="10" step="1"
                                               ng-change="cardeditor.calculateStarCount()"></md-slider>

                                    <md-input-container class="slider-input">

                                        <input type="number" min="1" max="10" ng-model="cardeditor.card.life"
                                               aria-label="life-input"
                                               ng-change="cardeditor.calculateStarCount()"/>
                                    </md-input-container>
                                </md-slider-container>
                            </div>

                            <md-select id="card-action" placeholder="{{'TEXT_ACTION_PLACEHOLDER' | translate}}" ng-model="cardeditor.card.actions[0]"
                                       ng-change="cardeditor.calculateStarCount()">
                                <md-option ng-value="null"></md-option>
                                <md-option ng-value="action"
                                           ng-repeat="action in cardeditor.actions | orderBy:'starCosts'">
                                    {{action.names[1]._value}} ({{action.starCosts}} {{'TEXT_STARS' | translate}})
                                </md-option>
                            </md-select>

                            <div class="cardeditor-stars-container" id="card-stars">
                                <div class="label-with-hint-normal">
                                    <span>{{'LABEL_EDITOR_STARS' | translate}}</span>
                                    <md-tooltip md-direction="top">
                                        {{'TOOLTIP_EDITOR_STARS_1' | translate}}<br>
                                        {{'TOOLTIP_EDITOR_STARS_2' | translate}}
                                    </md-tooltip>
                                    <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                                </div>

                                <div layout="row" class="cardeditor-stars">
                                    <div ng-repeat="star in cardeditor.starsFull track by $index"
                                         class="cardeditor-star-container">
                                        <img src="media/star_full.png" class="cardeditor-star"/>
                                        <div class="cardeditor-star-label"><span>{{$index+1}}</span></div>
                                    </div>
                                    <div ng-repeat="star in cardeditor.starsEmpty track by $index"
                                         class="cardeditor-star-container">
                                        <img src="media/star_empty.png" class="cardeditor-star"/>
                                        <div class="cardeditor-star-label"><span>{{$index + cardeditor.starsFull.length + 1}}</span>
                                        </div>
                                    </div>
                                    <div ng-repeat="star in cardeditor.starsRed track by $index"
                                         class="cardeditor-star-container">
                                        <img src="media/star_full_red.png" class="cardeditor-star"/>
                                        <div class="cardeditor-star-label">
                                            <span>{{cardeditor.maxStars + $index + 1}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cardeditor-stars-error" ng-show="cardeditor.showStarsError">
                                    {{'ERROR_EDITOR_STARS' | translate}}
                                </div>
                            </div>

                            <div ng-if="cardeditor.image.base64">
                                <label for="card-image-input" required class="md-button md-raised"
                                       required="cardeditor.image.base64">
                                    {{'BUTTON_EDIT_CARD_IMAGE' | translate}}
                                </label>
                            </div>

                        </md-content>
                    </div>

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" id="card-confirm">
                {{'BUTTON_CONFIRM' | translate}}
            </md-button>
            <md-button class="md-raised" ng-click="cardeditor.cancel()">
                {{'BUTTON_CANCEL' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

