<md-button class="md-icon-button choose-marker-close" aria-label="close" ng-click="cardeditor.close()">
    <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
</md-button>
<div id="card-editor-container">
    <div style="float:left; width: 300px">

    </div>
    <card-preview card="cardeditor.card" image="cardeditor.card.image" editable="true"></card-preview>
    <div id="card-settings-container" style="float:left; z-index: 100">
        <md-content layout-padding="" class="card-settings-content">
            <div>
                <md-input-container style="width: 100%">
                    <label>Name</label>
                    <input type="text" maxlength="10" ng-model="cardeditor.card.name"/>
                </md-input-container>


                <md-slider-container>
                    <span>Attack</span>
                    <md-slider class="md-primary" md-discrete ng-model="cardeditor.card.attack" min="0" max="10"
                               step="1"
                               ng-change="cardeditor.calculateStarCount()"></md-slider>
                    <md-input-container  class="slider-input">
                        <!-- <label>Attack</label>-->
                        <input type="number" min="0" max="10" ng-model="cardeditor.card.attack"
                               ng-change="cardeditor.calculateStarCount()"/>
                    </md-input-container>
                </md-slider-container>

                <md-slider-container>
                    <span>Lifeforce</span>
                    <md-slider class="md-primary" md-discrete ng-model="cardeditor.card.life" min="1" max="10" step="1"
                               ng-change="cardeditor.calculateStarCount()"></md-slider>

                    <md-input-container class="slider-input">

                        <input type="number" min="1" max="10" ng-model="cardeditor.card.life"
                               ng-change="cardeditor.calculateStarCount()"/>
                    </md-input-container>
                </md-slider-container>
                <md-input-container  style="width: 100%">
                    <label>Description</label>
                    <textarea class="textarea-noresize" maxlength="100" ng-model="cardeditor.card.description"
                              ng-change="cardeditor.calculateStarCount()"></textarea>
                </md-input-container>

                <md-select placeholder="Action" ng-model="cardeditor.card.actions[0]"
                           ng-change="cardeditor.actionChanged()">
                    <md-option ng-value="action" ng-repeat="action in cardeditor.actions | orderBy:'starCosts'"
                               ng-disabled="!cardeditor.isActionAffordable(action)">
                        {{action.names[1]._value}}
                    </md-option>
                </md-select>
                <label class="btn btn-default">
                    Choose Card Image <input type="file" ng-model='cardeditor.card.image' base-sixty-four-input style="display: none;"/>
                </label>
            </div>
        </md-content>

    </div>


</div>
<div style="clear: both" class="modal-footer">
    <button class="btn btn-primary" type="button" aria-label="ok" ng-click="cardeditor.confirm()">OK</button>
    <button class="btn btn-warning" type="button" aria-label="cancel" ng-click="cardeditor.close()">Cancel</button>
</div>

