<div id="collection-container" class="col-md-10 col-md-offset-1">
    <div class="row created-cards-preview">
        <div ng-repeat="card in collection.cards" class="collection-card-preview-container" ng-click="collection.showCard(card)">
            <card-preview class="collection-card-preview" card="card" image="card.image" editable="true"></card-preview>
        </div>

    </div>
    <div class="row">
        <button id="create-card-btn" class="btn btn-default" ng-click="collection.createCard()">Create card</button>
    </div>
</div>