<div id="collection-container" flex-offset="10" flex="80" layout="row">
    <div flex="80" layout="column">
        <div class="collection-filter-container" layout="row">
            <divs>Filters</divs>
            <div ng-repeat="star in collectionCtrl.starsFull track by $index"
                 ng-click="collectionCtrl.filterStarClicked($index+1, true)"
                 class="collection-filter-star-container">
                <img src="media/star_full.png" class="collection-filter-star"/>
                <div class="collection-filter-star-label"><span>{{$index+1}}</span></div>
            </div>
            <div ng-repeat="star in collectionCtrl.starsEmpty track by $index"
                 ng-click="collectionCtrl.filterStarClicked($index+1 , false)"
                 class="collection-filter-star-container">
                <img src="media/star_empty.png" class="collection-filter-star"/>
                <div class="collection-filter-star-label"><span>{{$index + collectionCtrl.starsFull.length + 1}}</span>
                </div>
            </div>
            <md-input-container class="collection-filter-content">
                <label>Filter</label>
                <input type="text" name="name" ng-model="collectionCtrl.searchText"/>
            </md-input-container>
            <span flex></span>
            <md-tabs style="width: 350px" md-selected="selectedIndex">
                <md-tab label="Collection" name="collection" ng-click="collectionCtrl.showCollection()"></md-tab>
                <md-tab label="Created cards" name="created" ng-click="collectionCtrl.showCreatedCards()"></md-tab>
            </md-tabs>
        </div>

        <div class="collection-cards-preview" flex>
            <div class="collection-card-add" ng-if="collectionCtrl.createdCardsShown">
                <md-button class="md-raised" ng-click="collectionCtrl.createCard()">
                    <div style="position:relative; height: 280px; width:165px;">
                        <img src="media/card/card_placeholder.png" class="card-add" width="100%"/>
                    </div>
                    <div class="card-add-icon">
                        <img src="media/add_icon.svg"/>
                    </div>

                    <md-tooltip md-direction="top">Create new card</md-tooltip>
                </md-button>
            </div>

            <div ng-show="collectionCtrl.collectionShown"
                 ng-repeat="card in collectionCtrl.collection.cards | filter: collectionCtrl.starsFilter() | filter:collectionCtrl.contentFilter()"
                 class="collection-card-preview-container" ng-dblclick="collectionCtrl.addCardToDeck(card)">
                <card class="collection-card" card="card" edit="false" menu="false"></card>
            </div>
            <div ng-show="collectionCtrl.createdCardsShown"
                 ng-repeat="card in collectionCtrl.collection.createdCards | filter: collectionCtrl.starsFilter() | filter:collectionCtrl.contentFilter()"
                 class="collection-card-preview-container" ng-click="collectionCtrl.showCard(card)">
                <card class="collection-card" card="card" edit="false" menu="true"></card>
            </div>
        </div>

    </div>
    <div flex="20">
        <form name="deckForm" ng-submit="collectionCtrl.saveDeck()" class="collection-decks-container" layout="column"
              cg-busy="{promise:collectionCtrl.saveDeckPromise, message:'Saving deck...'}" >
            <div class="collection-deck-button" ng-if="!collectionCtrl.currentDeck">
                <md-button class="md-raised" ng-click="collectionCtrl.createDeck()">
                    <md-label>Create deck</md-label>
                </md-button>
            </div>
            <div class="collection-deck-button" ng-if="collectionCtrl.currentDeck">
                <md-button class="md-raised" ng-click="collectionCtrl.closeDeck()">
                    <md-icon md-svg-src="media/back_icon.svg" class="back-icon"></md-icon>
                    <md-label>Cancel</md-label>
                </md-button>
            </div>

            <div ng-if="!collectionCtrl.currentDeck" flex>
                <div ng-repeat="deck in collectionCtrl.collection.decks" ng-if="deck.visible"
                     cg-busy="{promise:deck.loadPromise, message:'Loading deck...'}" layout="row">
                    <div class="collection-deck-button" flex>
                        <md-button class="md-raised md-button-primary" ng-click="collectionCtrl.openDeck(deck)">
                            <md-label>{{deck.name}}</md-label>
                        </md-button>
                    </div>
                    <md-button class="md-raised md-icon-button" ng-click="collectionCtrl.removeDeck(deck)">
                        <md-icon md-svg-src="media/delete_icon.svg"></md-icon>
                    </md-button>
                </div>
            </div>

            <div ng-if="collectionCtrl.currentDeck" class="collection-deck-container" flex>
                <deck user="collectionCtrl.user" deck="collectionCtrl.currentDeck"></deck>
            </div>


            <div ng-if="collectionCtrl.currentDeck" class="collection-deck-button">
                <md-button type="submit" class="md-raised">
                    <md-label>Save deck</md-label>
                </md-button>
            </div>
        </form>
    </div>


</div>