<md-dialog aria-label="Create quiz">
    <form name="quiz" ng-cloak ng-submit="quizInputCtrl.confirm($event)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'TITLE_CREATE_QUIZ' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="quizInputCtrl.cancel()">
                    <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="quiz-group-dialog-content">
            <div class="md-dialog-content">
                <md-label class="description-label">{{'TEXT_QUIZ_SOLUTION' | translate}}</md-label><br><br>
                <span ng-repeat="part in quizInputCtrl.parts" ng-switch="part.type">
                    <md-input-container ng-switch-when="text">
                        <label>{{'LABEL_QUIZ_TEXT' | translate}}</label>
                        <input name="quizInputText" ng-model="part.text" autofocus md-select-on-focus>
                    </md-input-container>
                   <md-input-container ng-switch-when="gap">
                        <label>{{'LABEL_QUIZ_SOLUTION' | translate}}</label>
                        <input required name="quizInputText" ng-model="part.text" autofocus md-select-on-focus>
                    </md-input-container>
                </span>


                <div>
                    <md-button class="quiz-group-add" ng-click="quizInputCtrl.addGap()">
                        <md-icon md-svg-icon="media/add_icon.svg"></md-icon>
                        <md-label>{{'LABEL_QUIZ_ADD_GAP' | translate}}</md-label>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary">
                {{'BUTTON_CONFIRM' | translate}}
            </md-button>
            <md-button class="md-raised" ng-click="quizInputCtrl.cancel()">
                {{'BUTTON_CANCEL' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
