<md-dialog aria-label="Create task">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'TITLE_CHOOSE_TASK_TYPE' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="chooseTypeDialog.cancel()">
                <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="task-type-selection">
                <md-button ng-repeat="type in chooseTypeDialog.types"
                           ng-click="chooseTypeDialog.typeChosen(type)"
                           aria-label="{{type}}" class="choose-marker-btn" ng-style="markerBtnStyle">
                    <img class="tasl-type-icon" ng-src="{{chooseTypeDialog.getMarkerIconSrc(type)}}"/>
                    <p class="task-type-label"ng-if="type == 'INFO'">{{'LABEL_MARKER_INFO' | translate}}</p>
                    <p class="task-type-label"ng-if="type == 'QUIZ'">{{'LABEL_MARKER_QUIZ' | translate}}</p>
                    <p class="task-type-label"ng-if="type == 'INVISIBLE'">{{'LABEL_MARKER_SEARCH' | translate}}</p>
                    <p class="task-type-label"ng-if="type == 'FIGHT'">{{'LABEL_MARKER_FIGHT' | translate}}</p>

                    <md-tooltip ng-if="type == 'INFO'">{{'TOOLTIP_MARKER_INFO' | translate}}</md-tooltip>
                    <md-tooltip ng-if="type == 'QUIZ'">{{'TOOLTIP_MARKER_QUIZ' | translate}}</md-tooltip>
                    <md-tooltip ng-if="type == 'INVISIBLE'">{{'TOOLTIP_MARKER_SEARCH' | translate}}</md-tooltip>
                    <md-tooltip ng-if="type == 'FIGHT'">{{'TOOLTIP_MARKER_FIGHT' | translate}}</md-tooltip>
                </md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
