<md-dialog aria-label="Create task">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Choose task type</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="chooseTypeDialog.cancel()">
                <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="task-type-selection">
                <md-button ng-repeat="type in chooseTypeDialog.types" ng-disabled="type == chooseTypeDialog.types.FIGHT"
                           ng-click="chooseTypeDialog.typeChosen(type)"
                           aria-label="{{type}}" class="choose-marker-btn" ng-style="markerBtnStyle">
                    <img class="tasl-type-icon" ng-src="{{chooseTypeDialog.getMarkerIconSrc(type)}}"/>
                    <p class="task-type-label">{{type}}</p>
                </md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
