<div id="profile-container" class="col-md-6 col-md-offset-3"  ng-show="user">
    <div class="row">
        <div class="col-md-8">
            <h1>Profile</h1>
        </div>
    </div>

    <div id="profile-quest-container"  class="row">
        <div class="col-md-8">
            <div ng-if="currentQuest">
                <h3>Quest in Development</h3>
                <table class="profile-quest-table">
                    <tr class="odd-profile-quest">
                        <td width="50%" class="profile-quest-col">
                            <a href="" ng-click="editQuest(currentQuest)">{{currentQuest.name}}</a>
                        </td>
                        <td width="20%"class="profile-quest-col">
                            {{currentQuest.startTask.lon | number:4}}, {{currentQuest.startTask.lat | number:4}}
                        </td>
                        <td width="15%"class="profile-quest-col">
                            {{currentQuest.tasks.length}} Tasks
                        </td>
                        <td width="5%" class="profile-quest-col">
                            <md-button aria-label="delete" class="md-icon-button" ng-click="clearCurrentQuest()">
                                <md-icon md-svg-icon="media/delete_icon.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </table>
                <hr>
            </div>
            <h3>Created Quests</h3>
            <hr>
            <div id="created-quests-container">
                <table class="profile-quest-table">
                    <tr ng-repeat="quest in user.createdQuests" ng-class-odd="'odd-profile-quest'" ng-class-even="'even-profile-quest'">
                        <td width="55%" class="profile-quest-col">
                            <a href="" ng-click="editQuest(quest)">{{quest.name}}</a>
                        </td>
                        <td width="25%" class="profile-quest-col">
                            {{quest.startTask.lon | number:4}}, {{quest.startTask.lat | number:4}}
                        </td>
                        <td width="15%" class="profile-quest-col">
                            {{quest.tasks.length}} Tasks
                        </td>
                        <td width="5%" class="profile-quest-col">
                            <md-button aria-label="delete" class="md-icon-button" ng-click="deleteQuest(quest)">
                                <md-icon md-svg-icon="media/delete_icon.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </table>
            </div>

            <button class="btn btn-default" ng-click="newQuest()">New Quest</button>
            <hr>
        </div>
        <div id="profile-data-container" class="col-md-4">
            <h3>Hello <b>{{user.name}}</b>!</h3>
            <img src="media/profile_picture.png" width="50%" />
            <hr>
            <h4>Statistics</h4>
            <p>You created <b>{{user.createdQuests.length}}</b> Quests</p>
            <p>You finished <b>0</b> Quests</p>
            <hr>
        </div>
    </div>

</div>
