<div class="reward-card-container" ng-repeat="card in reward.cards track by $index">
    <div class="reward-deselect-button" ng-if="card">
        <md-button class="md-raised md-icon-button" ng-click="reward.removeCard($index)">
            <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
        </md-button>
    </div>

    <img ng-if="!card" src="media/card/card_placeholder.png" class="card-placeholder" width="100%"/>
    <card ng-if="card" class="collection-card" card="card" image="card.image" edit="false" menu="false"></card>
</div>

<div style="text-align: center">
    <md-button class="md-raised" ng-click="reward.openCollection()">
        Open Collection
    </md-button>
    <md-button ng-show="reward.cardIndex < reward.maxCards" class="md-raised" ng-click="reward.createCard()">
        Create card
    </md-button>
</div>