<div id="task-container" layout="column" ng-cloak flex-offset-gt-sm="10" flex-gt-sm="80" flex="100" layout-padding>
    <form name="taskForm" ng-cloak ng-submit="treePartCtrl.confirm()">
        <div layout-padding>
            <div class="md-dialog-content">
                <div layout="row" layout-align="center center">
                    <md-input-container flex="50">
                        <label>Task Name</label>
                        <input name="taskName" ng-model="treePartCtrl.task.name" class="task-info">
                    </md-input-container>
                </div>

                <div class="task-content">
                    <p class="task-modal-label">Task content</p>
                    <text-angular id="task-editor-quiz"
                                  ng-if="treePartCtrl.task.getType() == treePartCtrl.types.QUIZ" name="task-editor-quiz"
                                  ta-toolbar="{{treePartCtrl.quizToolbar}}" ng-model="treePartCtrl.task.html.content" class="task-text"
                                  ng-keydown="treePartCtrl.keyPressed($event)"></text-angular>
                    <text-angular ng-if="treePartCtrl.task.getType() != treePartCtrl.types.QUIZ" name="task-editor"
                                  ta-toolbar="{{treePartCtrl.toolbar}}" ng-model="treePartCtrl.content"
                                  class="task-text"></text-angular>
                    <div ng-if="treePartCtrl.task.getType() != treePartCtrl.types.INFO && treePartCtrl.task.getType() != 'start'">

                        <p ng-if="treePartCtrl.task.getType() == treePartCtrl.types.INVISIBLE" class="task-modal-label">Invisible
                            task
                            target content</p>
                        <p ng-if="treePartCtrl.task.getType() == treePartCtrl.types.QUIZ" class="task-modal-label">Quiz task
                            completed
                            content</p>
                        <text-angular name="task-target" ta-toolbar="{{treePartCtrl.toolbar}}"
                                      ng-model="treePartCtrl.task.targetHtml.content"
                                      class="task-text"></text-angular>
                    </div>
                </div>
                <div>
                    <md-button class="md-raised md-primary" type="submit" md-autofocus>
                        Confirm
                    </md-button>
                    <md-button class="md-raised" ng-click="treePartCtrl.cancel()" >
                        Cancel
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</div>