<div id="task-container" layout="column" ng-cloak flex-offset-gt-sm="10" flex-gt-sm="80" flex="100" layout-padding>
    <form name="taskForm" ng-cloak ng-submit="treePartCtrl.confirm()">
        <div layout-padding>
            <div class="md-dialog-content">
                <div layout="row" layout-align="center center">
                    <md-input-container flex="50">
                        <label>{{'LABEL_TASK_NAME' | translate}}</label>
                        <input required name="taskName" ng-model="treePartCtrl.task.name" class="task-info" autofocus>
                        <div ng-messages="taskForm.taskName.$error">
                            <div ng-message="required">{{'MESSAGE_REQUIRED' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="task-content">
                    <md-label class="description-label">{{'LABEL_TASK_CONTENT' | translate}}</md-label>
                    <md-button aria-label="description-hint" class="md-icon-button"
                               ng-if="treePartCtrl.task.getType() == 'QUIZ'">
                        <md-tooltip md-direction="top">
                            {{'TOOLTIP_QUIZ_CONTENT' | translate}}
                        </md-tooltip>
                        <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="description-hint" class="md-icon-button"
                               ng-if="treePartCtrl.task.getType() == 'INVISIBLE'">
                        <md-tooltip md-direction="top">
                            {{'TOOLTIP_INVISIBLE_CONTENT' | translate}}
                        </md-tooltip>
                        <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="description-hint" class="md-icon-button"
                               ng-if="treePartCtrl.task.getType() == 'FIGHT'">
                        <md-tooltip md-direction="top">
                            {{'TOOLTIP_FIGHT_CONTENT' | translate}}
                        </md-tooltip>
                        <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="description-hint" class="md-icon-button"
                               ng-if="treePartCtrl.task.getType() == 'INFO'">
                        <md-tooltip md-direction="top">
                            {{'TOOLTIP_INFO_CONTENT' | translate}}
                        </md-tooltip>
                        <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                    </md-button>

                    <text-angular id="task-editor-quiz"
                                  ng-if="treePartCtrl.task.getType() == treePartCtrl.types.QUIZ" name="task-editor-quiz"
                                  ta-toolbar="{{treePartCtrl.quizToolbar}}" ng-model="treePartCtrl.content"
                                  class="task-text"
                                  ng-keydown="treePartCtrl.keyPressed($event)"
                                  ng-click="treePartCtrl.contentChanged()"></text-angular>
                    <text-angular ng-if="treePartCtrl.task.getType() != treePartCtrl.types.QUIZ" name="task-editor"
                                  ta-toolbar="{{treePartCtrl.toolbar}}" ng-model="treePartCtrl.content"
                                  class="task-text"></text-angular>
                    <div ng-if="treePartCtrl.task.getType() != treePartCtrl.types.INFO && treePartCtrl.task.getType() != 'start'">

                        <md-label class="description-label"
                                  ng-if="treePartCtrl.task.getType() == treePartCtrl.types.QUIZ || treePartCtrl.task.getType() == treePartCtrl.types.FIGHT">
                            {{'LABEL_TASK_COMPLETE_CONTENT' | translate}}
                        </md-label>
                        <md-button aria-label="description-hint" class="md-icon-button">
                            <md-tooltip md-visble="questCtrl.questDescriptionTooltipVisible" md-direction="top">
                                {{'TOOLTIP_TASK_COMPLETE_CONTENT' | translate}}
                            </md-tooltip>
                            <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                        </md-button>
                        <text-angular name="task-target" ta-toolbar="{{treePartCtrl.toolbar}}"
                                      ng-model="treePartCtrl.targetContent"
                                      class="task-text"></text-angular>
                    </div>

                    <div ng-if="treePartCtrl.task.getType() == treePartCtrl.types.FIGHT">

                        <md-label class="description-label">{{'LABEL_ENEMY' | translate}}</md-label>
                        <md-button aria-label="description-hint" class="md-icon-button">
                            <md-tooltip md-direction="top">
                                {{'TOOLTIP_ENEMY' | translate}}
                            </md-tooltip>
                            <md-icon md-svg-icon="media/help_icon.svg"></md-icon>
                        </md-button>
                        <enemy enemy="treePartCtrl.task.enemy"></enemy>

                        <md-label class="description-label">Edit enemy deck</md-label>
                        <div class="task-deck-button" flex>
                            <md-button class="md-raised md-button-primary" ng-click="treePartCtrl.editEnemyDeck()">
                                <md-label>{{treePartCtrl.task.enemy.deck.name}}</md-label>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div>
                    <md-button class="md-raised md-primary" type="submit">
                        {{'BUTTON_CONFIRM' | translate}}
                    </md-button>
                    <md-button class="md-raised" ng-click="treePartCtrl.cancel()">
                        {{'BUTTON_CANCEL' | translate}}
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</div>