<md-button class="md-icon-button choose-marker-close" ng-click="close()">
    <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
</md-button>
<div class="modal-header">
    <h3 class="modal-title">Create Quest</h3>
</div>
<div class="modal-body">
    <div class="task-info">
        <p>Enter a title for the task:</p>
        <input class="task-info-input task-info-title" ng-model="name" placeholder="Enter title"/><br>

        <p>Enter a description for the task:</p>
        <textarea class="task-info-input task-info-description" ng-model="description" placeholder="Enter description"></textarea>
    </div>

    <div class="task-content">
        <task-editor content="content"></task-editor>

    </div>

    <div class="task-type">
        <p>Choose the type of task you want to create for your quest:</p>
        <div class = "task-type-selection">
            <md-button ng-repeat="(marker, attrs) in tasks" ng-click="markerSelected(attrs.type, $index)"
                       aria-label="{{attrs.name}}" class="choose-marker-btn" ng-style="markerBtnStyle"
                       ng-class="{ 'active-marker': $index == selectedIndex }">
                <img class="tasl-type-icon" ng-src="{{attrs.path}}"/>
                <p class="task-type-label">{{attrs.name}}</p>
                <md-tooltip style="z-index:10000">{{attrs.description}}</md-tooltip>
            </md-button>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>
