<div class="map-task">
    <img aria-label="icon" class="map-task-icon" ng-src="{{task == null && '' || task.type == 'fight'  && 'media/fight_marker.png' || task.type == 'quiz'  && 'media/quiz_marker.png' || task.type == 'info'  && 'media/info_marker.png' || task.type == 'start' && 'media/start_marker.png'}}">
    <input class="map-task-input" type="text" placeholder="Enter task name ..." value="task.name" ng-model="task.name"/>
    <md-button aria-label="edit" class="md-icon-button map-task-edit" ng-click="edit(task)">
        <md-icon md-svg-icon="media/edit_icon.svg"></md-icon>
    </md-button>
    <md-button aria-label="preview" class="md-icon-button map-task-edit" ng-click="preview(task)">
        <md-icon md-svg-icon="media/preview_icon.svg"></md-icon>
    </md-button>
    <md-button aria-label="focus" class="md-icon-button map-task-edit" ng-click="focus(task)">
        <md-icon md-svg-icon="media/location_icon.svg"></md-icon>
    </md-button>
</div>
