<div id="mapView">


</div>

<md-toolbar id="toolbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleQuestline()">
            <md-icon md-svg-icon="media/menu_icon.svg"></md-icon>
        </md-button>

        <md-autocomplete id="toolbar-search"
                         placeholder="Find location ..."
                         md-selected-item="selectedItem"
                         md-search-text="searchText"
                         md-items="item in search(searchText)"
                         md-item-text="item.display_name"
                         md-autoselect="true" md-selected-item-change="goto(selectedItem)">
            <span md-highlight-text="searchText">{{item.display_name}}</span>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>


        <md-button id="toolbar-search-icon" class="md-icon-button" aria-label="Settings" ng-click="searchAndGo(searchText)">
            <md-icon md-svg-icon="media/search_icon.svg"></md-icon>
        </md-button>

        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="media/more_icon.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<div id="map-quests"  ng-show="showQuestline">
    <ol id="map-quest-list" ui-sortable="sortableOptions" ng-model="markers">
        <li ng-repeat = "marker in markers"><map-quest quest="marker"></map-quest></li>
    </ol>
    <div>
        <div class="map-quest-add">
            <md-button class="md-icon-button map-quest-icon" ng-click="newQuest()">
                <md-icon md-svg-icon="media/add_icon.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>



<!--<ul ui-sortable ng-model="items">
    <li ng-repeat="item in items">{{ item }}</li>
</ul>-->

<div id="markerSelectorBox">
    <div class="marker">
        <img src="media/fight_marker.png" class="markerSelector" ng-click="toggleMarker('fight')"/>
<!--
        <p class="markerLabel">Fight</p>
-->
    </div>

    <div class="marker">
        <img src="media/quiz_marker.png" class="markerSelector" ng-click="toggleMarker('quiz')"/>
<!--
        <p class="markerLabel">Quiz</p>
-->
    </div>

    <div class="marker">
        <img src="media/info_marker.png" class="markerSelector" ng-click="toggleMarker('info')"/>
<!--        <p class="markerLabel">Info</p>-->
    </div>

    <img src="media/delete_icon.png" class="markerSelector" width="20" height="32"  ng-click="toggleRemove()"/>
</div>
<div id="popup">
    <div id="popupCloser"></div>
    <div id="popupContent"></div>
</div>


<!--<div ng-repeat="marker in markers" style="float:left">
    <p>id: {{marker.id}}</p>
    <p>type: {{marker.type}}</p>
    <p>lon: {{marker.lon}}</p>
    <p>lat: {{marker.lat}}</p>
</div>-->

<!--<div id="toolBar">
    <input id="mapSearchInput" ng-model="mapSearchQuery">
    <button id="mapSearchBtn" ng-click="goto(mapSearchQuery)">Search</button>
    <button id="mapDragBtn" ng-click="activateDrag()">Drag</button>
</div>-->





