<div id="card-container">

    <div class="card-image-bounds">
        <div class="card-image-drag-bounds" ng-style="cardPreview.dragBoundsStyle">
            <div class="card-image-container" ng-class="{'card-image-container-movable': cardPreview.editable}"
                 jqyoui-draggable="{containment:'position'}" data-drag="cardPreview.editable"
                 data-jqyoui-options="{{cardPreview.imageDragOptions}}" ng-style="cardPreview.imageContainerStyle">
                <img ng-show="cardPreview.card.image.base64" class="card-image"
                     data-ng-src="data:{{cardPreview.card.image.filetype}};base64, {{cardPreview.card.image.base64}}" scale-card-image
                     dimensions="cardPreview.dimensions" callback="cardPreview.imageLoaded()"/>
            </div>
        </div>
    </div>
    <span ng-show="cardPreview.editable && cardPreview.card.image.base64" class="card-image-instruction">Drag image to reposition</span>
    <div class="card-mask">
        <img src="media/card/card_plain_stars_0.png" class="card_front"/>
        <img ng-src="{{cardPreview.getStarImage()}}" class="card-star-overlay"/>
    </div>

    <span ng-if="cardPreview.card.name" class="card-input card-name"
          readonly="readonly">{{cardPreview.card.name}}</span>

    <span type="number" min="0" max="10" class="card-input attack-val" readonly="readonly">{{cardPreview.card.attack}}</span>
    <span type="number" min="0" max="10" class="card-input defence-val" readonly="readonly">{{cardPreview.card.life}}</span>

    <span ng-if="cardPreview.card.actions[0] && cardPreview.card.actions[0].descriptions[1]._value != ''" class="card-input card-attack"
          readonly="readonly"><b>{{cardPreview.card.actions[0].names[1]._value}}: </b>{{cardPreview.card.actions[0].descriptions[1]._value}}</span>

    <span class="card-input card-text" placeholder="Enter card text ..."
          readonly="readonly">{{cardPreview.card.description}}</span>
</div>