<div id="card-editor-container" class="col-md-6 col-md-offset-3">
    <div id="card-container">
        <div class="card-image-bounds" ng-style="card.imageDragBounds">

            <div class="card-image-container" ng-style="card.imageContainerStyle" data-drag="true"
                 jqyoui-draggable="{containment: 'position'}"
                 data-jqyoui-options="{{card.imageDragOptions}}">
                <img ng-show="card.image.base64"
                     data-ng-src="data:{{card.image.filetype}};base64, {{card.image.base64}}" scale-card-image
                     dimensions="card.dimensions" callback="card.imageLoaded()"/>
            </div>
        </div>
        <div class="card-mask"></div>
        <input class="card-input attack-val" ng-model="card.attackVal"/>
        <input class="card-input defence-val" ng-model="card.defenceVal"/>
        <textarea class="card-input card-text" placeholder="Enter card text ..." ng-model="card.cardText"></textarea>
    </div>
    <input type='file' ng-model='card.image' base-sixty-four-input>


    {{card.image}}

    <button ng-click="card.upload()">Upload</button>
</div>

