<md-dialog aria-label="Submit Error" flex="20">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="quest-errors" ng-if="submitErrors.errors.questErrors.length > 0">
                    <div ng-repeat="questError in submitErrors.errors.questErrors">
                        <b><a ng-click="submitErrors.editQuest(questError.quest)">{{'TEXT_QUEST' | translate}}</a> {{'TEXT_MISSING' | translate}}</b>
                        <ul>
                            <li ng-if="questError.nameMissing">{{'TEXT_NAME' | translate}}</li>
                        </ul>

                    </div>
                </div>
                <div class="task-errors" ng-if="submitErrors.errors.taskErrors.length > 0">
                    <div ng-repeat="taskError in submitErrors.errors.taskErrors">
                        <b><a ng-click="submitErrors.editTask(taskError.treePart)">{{'TEXT_TASK' | translate}}</a> {{'TEXT_MISSING' | translate}}</b>
                        <ul>
                            <li ng-if="taskError.nameMissing">{{'TEXT_NAME' | translate}}</li>
                            <li ng-if="taskError.enemyMissing">{{'TEXT_ENEMY' | translate}}</li>
                            <li ng-if="taskError.exerciseMissing">{{'TEXT_EXERCISE' | translate}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="submitErrors.close()" md-autofocus>
                {{'BUTTON_OK' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>