<md-dialog aria-label="Create task">
    <form name="taskForm" ng-cloak ng-submit="rewardCollection.confirm()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'BUTTON_CHOOSE_FROM_COLLECTION' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="rewardCollection.cancel()">
                    <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="card-reward-instruction"><md-label><b><span translate="LABEL_QUEST_REWARDS" translate-values="{maxCards: rewardCollection.maxCards }"></span></b></md-label></div>

                <div class="created-cards-preview">
                    <div ng-repeat="card in rewardCollection.collection.createdCards" class="collection-card-preview-container"
                         ng-click="rewardCollection.toggleSelect(card)">
                        <card class="collection-card" card="card" selected="card.selected" edit="false" menu="false"></card>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary">
                {{'BUTTON_CONFIRM' | translate}}
            </md-button>
            <md-button class="md-raised" ng-click="rewardCollection.cancel()">
                {{'BUTTON_CANCEL' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>