<md-dialog aria-label="Create quiz">
    <form name="quiz" ng-cloak ng-submit="quizGroupCtrl.confirm($event)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'TITLE_CREATE_QUIZ' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="quizGroupCtrl.cancel()">
                    <md-icon md-svg-icon="media/close_icon.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="quiz-group-dialog-content">
            <div class="md-dialog-content">
                <md-input-container style="width: 100%">
                    <label>{{'LABEL_QUIZ_QUESTION' | translate}}</label>
                    <input type="text" name="name" required maxlength="100"
                           ng-model="quizGroupCtrl.group.question" md-autofocus/>
                    <div ng-messages="quiz.name.$error">
                        <div ng-message="required">{{'MESSAGE_REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>

                <p ng-if="quizGroupCtrl.group.type == 'checkbox'"><span translate="TEXT_CHECKBOXES"></span> (<img src="media/checkbox-empty.png" height="23"/> &rarr; <img src="media/checkbox.png" height="23"/>).</p>
                <p ng-if="quizGroupCtrl.group.type == 'radio'"><span translate="TEXT_RADIO_BUTTONS"></span> (<img src="media/radio-button-empty.png" height="23"/> &rarr; <img src="media/radio-button.png" height="23"/>)</p>
                <md-radio-group ng-model="quizGroupCtrl.selected" ng-if="quizGroupCtrl.group.type == 'radio'" ng-required="true">

                    <div ng-repeat="option in quizGroupCtrl.group.options" layout="row">
                        <md-radio-button class="quiz-group-option-selector" ng-model="option.selected"
                                         ng-value="$index">
                        </md-radio-button>
                        <md-input-container class="quiz-group-option-input-container">
                            <input type="text" name="name" required maxlength="50"
                                   ng-model="option.text"/>
                        </md-input-container>
                        <md-button class="md-icon-button" ng-click="quizGroupCtrl.removeOption($index)">
                            <md-tooltip md-direction="top">
                                {{'TOOLTIP_REMOVE_OPTION' | translate}}
                            </md-tooltip>
                            <md-icon md-svg-icon="media/delete_icon.svg"></md-icon>
                        </md-button>
                    </div>
                </md-radio-group>
                <div class="quiz-checkbox-group" ng-if="quizGroupCtrl.group.type == 'checkbox'">
                    <div ng-repeat="option in quizGroupCtrl.group.options" layout="row">
                        <md-checkbox class="quiz-group-option-selector" ng-model="option.selected">

                        </md-checkbox>
                        <md-input-container class="quiz-group-option-input-container">
                            <input type="text" name="name" required maxlength="50"
                                   ng-model="option.text"/>
                        </md-input-container>
                        <md-button class="md-icon-button" ng-click="quizGroupCtrl.removeOption($index)">
                            <md-tooltip md-direction="top">
                                {{'TOOLTIP_REMOVE_OPTION' | translate}}
                            </md-tooltip>
                            <md-icon md-svg-icon="media/delete_icon.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
                <div>
                    <md-button class="quiz-group-add" ng-click="quizGroupCtrl.addOption()">
                        <md-icon md-svg-icon="media/add_icon.svg"></md-icon>
                        <md-label>{{'LABEL_QUIZ_ADD_OPTION' | translate}}</md-label>
                    </md-button>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary">
                {{'BUTTON_CONFIRM' | translate}}
            </md-button>
            <md-button class="md-raised" ng-click="quizGroupCtrl.cancel()">
                {{'BUTTON_CANCEL' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>