<md-dialog aria-label="Create task">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span translate="TITLE_TUT_NEW_QUEST"></span></h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="profile-new-quest-container">
                <h4><b><span translate="TITLE_TUT_QUEST"></span></b></h4>
                <p><span translate="TEXT_TUT_CREATE_QUEST"></span></p>
                <p><span translate="TEXT_TUT_FIRST"></span></p>
                <ul>
                    <li>
                        <img src="media/start_marker.png" width="13px" style="margin-right: 10px"/>
                        <span translate="TEXT_MARKER_START"></span>
                    </li>
                </ul>
                <h4><b><span translate="TITLE_TUT_TASK"></span></b></h4>
                <p><span translate="TEXT_TUT_ADD_TASK"></span>
                    <md-icon md-svg-icon="media/add_task_icon.svg"></md-icon>
                    :
                </p>
                <ul>
                    <li>
                        <img src="media/info_marker.png" width="13px" style="margin-right: 10px"/>
                        <span translate="TEXT_MARKER_INFO"></span>
                    </li>
                    <li>
                        <img src="media/quiz_marker.png" width="13px" style="margin-right: 10px"/>
                        <span translate="TEXT_MARKER_QUIZ"></span>
                    </li>
                    <li>
                        <img src="media/invisible_marker.png" width="13px" style="margin-right: 10px"/>
                        <span translate="TEXT_MARKER_SEARCH"></span>
                    </li>
                    <li>
                        <img src="media/fight_marker.png" width="13px" style="margin-right: 10px"/>
                        <span translate="TEXT_MARKER_FIGHT"></span>
                    </li>
                </ul>
                <p><span translate="TEXT_TUT_TOOLS"></span></p>
                <ul>
                    <li>
                        <md-icon md-svg-icon="media/info_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_HELP"></span>
                    </li>
                    <li>
                        <md-icon md-svg-icon="media/tutorial_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_TUTORIAL_BUTTON"></span>
                    </li>
                </ul>
                <br>
                <ul>
                    <li>
                        <md-icon md-svg-icon="media/complex_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_STORYLINE"></span>
                    </li>
                    <li>
                        <md-icon md-svg-icon="media/cancel_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_CANCEL_QUEST"></span>
                    </li>
                    <li>
                        <md-icon md-svg-icon="media/edit_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_EDIT_QUEST"></span>
                    </li>
                    <li>
                        <md-icon md-svg-icon="media/save_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_SAVE_QUEST"></span>
                    </li>
                </ul>


                <p>
                    <span translate="TEXT_TUT_SWAP"></span>
                    <md-icon md-svg-icon="media/swap_icon.svg"></md-icon>.
                </p>
                <p>
                    <span translate="TEXT_TUT_TASK_OPTIONS"></span>
                    <md-icon md-svg-icon="media/more_icon.svg"></md-icon>:
                </p>

                <ul>
                    <li>
                        <md-icon md-svg-icon="media/delete_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_TASK_DELETE"></span>
                    </li>
                    <li>
                        <md-icon md-svg-icon="media/edit_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_TASK_EDIT"></span>
                    </li>
                    <li>
                        <md-icon md-svg-icon="media/preview_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_TASK_PREVIEW"></span>
                    </li>
                    <li>
                        <md-icon md-svg-icon="media/location_icon.svg"></md-icon>
                        <span translate="TEXT_TUT_TASK_FOCUS"></span>
                    </li>
                </ul>

                <p ng-if="createQuest.chooseTutorial"><span translate="TEXT_TUT_QUEST_TUTORIAL"></span></p>
                <p><span translate="TEXT_TUT_QUEST_END"></span></p>
                <p><span translate="TEXT_TUT_BUTTON_READY"></span></p>


            </div>

            <!--<md-icon md-svg-icon="media/save_icon.svg"></md-icon>-->
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-checkbox class="instruction-use" ng-if="createQuest.chooseTutorial" ng-model="createQuest.tutorial" aria-label="separateDescription">
            <md-label class="description-label">{{'LABEL_TUTORIAL' | translate}}</md-label>
        </md-checkbox>
        <md-button class="md-raised" ng-click="createQuest.confirm()">
            <span translate="BUTTON_READY"></span>
        </md-button>
    </md-dialog-actions>
</md-dialog>